.hero_item{
    display: flex;
    width: 18.073vw;
    padding: 2.08333vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.46vw;

    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    background: rgba(22, 20, 28, 0.30);
    backdrop-filter: blur(15px);
}

.hero_item_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.62rem;

    color: #FFF;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167rem;
    font-weight: 500;
    line-height: 120%; /* 1.25rem */
    letter-spacing: -0.02083rem;
}

.hero_item_description{
    width: 13.33333vw;
    color: rgba(255, 255, 255, 0.70);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.16667rem */
    letter-spacing: -0.01667rem;
}