.hero_item {
    display: flex;
    width: 18.073vw;
    padding: 2.08333vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.46vw;

    border-radius: 1.66667vw;
    border: 0.05208vw solid rgba(255, 255, 255, 0.03);
    background: rgba(22, 20, 28, 0.30);
    backdrop-filter: blur(0.78125vw);

}

.hero_icon {
    width: 2.08333vw;
    height: 2.08333vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 5.20833vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_icon svg{
    width: 1.14583vw;
    height: 1.14583vw;
    flex-shrink: 0;
}

.hero_item_title, .hero_item_title span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.62vw;

    color: #FFF;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167vw;
    font-weight: 500;
    line-height: 120%; /* 1.25vw */
    letter-spacing: -0.02083vw;
    text-wrap: nowrap;
}

.hero_item_description {
    width: 13.33333vw;
    color: rgba(255, 255, 255, 0.70);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.16667vw */
    letter-spacing: -0.01667vw;
}

@media screen and (max-width: 1024px) {
    .hero_item {
        display: flex;
        width: 44.68085vw;
        min-height: 45.21277vw;
        padding: 4.25532vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4.25532vw;
        flex-shrink: 0;
        border-radius: 5.31915vw;

        background: rgba(22, 20, 28, 0.30);
        backdrop-filter: blur(4vw);
        border: solid rgba(255, 255, 255, 0.03);


    }
    .hero_item_title, .hero_item_title span{
        font-size: 4.25532vw;
        line-height: 5.10638vw;
        letter-spacing: -0.08511vw;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.13vw;


    }
    .hero_icon{
        width: 9.57447vw;
        height: 9.57447vw;
        flex-shrink: 0;
        aspect-ratio: 1/1;
    }
    .hero_icon svg{
        width: 5.31915vw;
        height: 5.31915vw;

    }
    .hero_item_description{
        width: auto;
        font-size: 3.6vw;
        font-style: normal;
        font-weight: 400;
        line-height: 4.84043vw;
        letter-spacing: -0.07447vw;
    }

}