.item {
    display: flex;
    width: 44.27083vw;
    padding: 2.70833vw 1.66667vw 1.66667vw 1.66667vw;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 7.92vw;
    position: relative;

    border-radius: 1.04167vw;
    border: 0.05208vw solid rgba(255, 255, 255, 0.00);
    background: #0F0E13;
    box-shadow: -0.20833vw -0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.04) inset,
    0.20833vw 0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(0.26042vw);
}

.item h4 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 2.08333vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 2.5vw */
    letter-spacing: -0.04167vw;
}

.icon_main {
    position: absolute;
    top: 0;
    right: 0;
}
.icon_main svg{
    width: 8.07292vw;
    height: 8.07292vw;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 0.21vw;
}

@media screen and (max-width: 1024px) {
    .item{
        width: auto;
        display: flex;
        padding: 8.51064vw 4.25532vw 4.25532vw 4.25532vw;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 4.25532vw;
        align-self: stretch;
        border-radius: 8.51064vw;
        overflow: hidden;

    }

    .item h4{
        font-size: 6.38298vw;
        line-height: 7.65957vw;
        letter-spacing: -0.12766vw;
    }
    .icon_main{
        position: absolute;
        right: 4.26vw;
    }
    .icon_main svg{
        width: 20.74468vw;
        height: 16.4234vw;
        flex-shrink: 0;
    }
    .content{
        gap: 1.06vw;
    }

}