.currencies_section {
    margin: 0 5.21vw 0 5.21vw;
}

.calc_header {
    display: flex;
    padding: 0.3125vw;
    justify-content: center;
    align-items: center;

    border-radius: 5.20833vw;
    border: 0.07813vw solid #3D3856;
    backdrop-filter: blur(1.04167vw);
}

.currencies_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.currencies_header h3 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 600;
    line-height: 2.70833vw;
    letter-spacing: -0.05417vw;
}

.currencies_icon {
    position: absolute;
    left: 41.51vw;
    z-index: 0;
    width: 10.15625vw;
    height: 10.15625vw;
    top: -2vw;
    rotate: 7.838deg;
}
.currencies_icon img{
    width: 100%;
}

.currencies_table_container {
    width: 100%;
    border-radius: 1.66667vw;

    z-index: 10;
    position: relative;
    margin-top: 3.33vw;
    backdrop-filter: blur(0.26042vw);
    overflow: hidden;

    background: rgba(15, 14, 19, 0.9);
    box-shadow: 0.10417vw 0.10417vw 0.625vw 0vw rgba(255, 255, 255, 0.12) inset;

}


.head_1, .head_2 {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* або default */
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125vw; /*  */
    letter-spacing: -0.01875vw;

}

.head_2 {
    opacity: 0.7;
}

.head_item, .body_item {
    width: calc(100% / 6);
    padding: 2.55vw 0 1.09vw 1.25vw;
    border-left: 0.05208vw solid rgba(255, 255, 255, 0.04);
    border-bottom: 0.05208vw solid rgba(255, 255, 255, 0.04);

}

.border_gradient_vertical {
    border-left: 0.05208vw solid transparent;
    border-image-source: linear-gradient(to top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    border-image-slice: 1;
    border-image-width: 1;
    border-image-repeat: stretch;
}


.border_gradient_bottom_right {
    border-bottom: 0.05208vw solid transparent;
    border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    border-image-slice: 1;
    border-image-width: 1;
    border-image-repeat: stretch;
}

.border_gradient_bottom_left {
    border-bottom: 0.05208vw solid transparent;
    border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    border-image-slice: 1;
    border-image-width: 1;
    border-image-repeat: stretch;
}


.head_item:nth-of-type(1), .body_item:nth-of-type(1) {
    border-right: 0.05208vw solid rgba(255, 255, 255, 0.04);
    padding-left: 2.71vw;
}


.head_item_one {
    width: calc(100% / 6);
    border-left: 0.05208vw solid rgba(255, 255, 255, 0.04);
    border-bottom: 0.05208vw solid rgba(255, 255, 255, 0.04);
}

.head_item_two {
    padding: 1.33vw 0;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.05208vw solid rgba(255, 255, 255, 0.04);
    border-left: 0.05208vw solid rgba(255, 255, 255, 0.04);
}

.head_item_two:nth-of-type(2) {
    border-left: 0.05208vw solid rgba(255, 255, 255, 0.04);
    border-bottom: 0.05208vw solid rgba(255, 255, 255, 0.04);
}

.body_line {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* або default */
    color: #FFF;

    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125vw; /*  */
    letter-spacing: -0.01875vw;
}

.currencies_table_footer {
    height: 2.70833vw;
    margin: 1.67vw 2.71vw 2.71vw 2.71vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn_see_all {

    display: flex;
    flex-direction: row;
    gap: 0.42vw;
    height: 2.70833vw;
    align-items: center;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1vw; /*  */
    letter-spacing: -0.01667vw;
    cursor: pointer;
}

.status_update {
    display: flex;
    flex-direction: row;
    height: 2.70833vw;
    padding: 0 1.25vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;

    border-radius: 5.20833vw;
    border: 0.02604vw solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(0.26042vw);


    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16667vw; /*  */
    letter-spacing: -0.01667vw;
}
.status_update:hover{
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 0 0.41667vw rgba(98, 47, 241, 0.50);
    cursor: pointer;
    border: 0.02604vw solid rgba(247, 234, 249, 0.50);

}
.icon_currencies {
    width: 1.66667vw;
    height: 1.66667vw;
    flex-shrink: 0;
    border-radius: 1.66667vw;
    background: linear-gradient(155deg, #B792FF -6.43%, #622FF1 84.31%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon_currencies img {
    width: 0.625vw;
    height: 0.9375vw;
    flex-shrink: 0;

}

.body_item {
    display: flex;
    height: 3.75vw;
    padding: 0.83333vw 0 0.83333vw 1.25vw;
    align-items: center;
    gap: 0.52083vw;
    flex-shrink: 0;
    align-self: stretch;
}

.body_line .body_item:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.body_line .body_item:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2.70833vw;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3125vw; /* 1.3125vw */
    letter-spacing: -0.01875vw;
}

.body_line .body_item:first-of-type .icon_currencies {
    margin-right: 0.625vw;
}

.curr_age, .body_line .body_item:first-of-type .curr_age {
    margin-left: 0.315vw;
}

.curr_age img {
    width: 3.125vw !important;
    height: 1.30208vw !important;

    aspect-ratio: 12/5;
}


.currencies_footer {
    margin-top: 2.24vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.04vw;
}

.footer_first {
    position: relative;

    display: flex;
    width: 14.0625vw;
    height: 11.82292vw;
    padding: 1.66667vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.83333vw;

    border-radius: 1.66667vw;
    background: #0F0E13;
    box-shadow: 0.20833vw 0.20833vw 1.04167vw 0vw rgba(255, 255, 255, 0.02) inset;
}

.footer_first h3 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.66667vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.83333vw; /* 1.83333vw */
    letter-spacing: -0.03333vw;
}

.footer_first div {
    width: 6.92708vw;
    height: 6.45833vw;
    position: absolute;
    right: 0.9375vw;
    bottom: -0.26042vw;
}

.footer_first img{
    width: 100%;
}

.footer_second {
    display: flex;
    width: 36.71875vw;
    height: 11.66667vw;
    padding: 1.66667vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 1.66667vw;
    background: #0F0E13;
    box-shadow: 0.20833vw 0.20833vw 1.04167vw 0vw rgba(255, 255, 255, 0.02) inset;
}

.footer_second h3 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25vw; /* 1.25vw */
    letter-spacing: -0.02083vw;
}

.footer_second ul {
    display: flex;
    flex-direction: column;
    gap: 0.99vw;
}

.footer_second ul li {
    display: flex;
    align-items: center;
    gap: 0.625vw;
}

.footer_second ul li svg {
    width: 1.25vw;
    height: 1.25vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;

}


.footer_second ul li span, .footer_second ul li p {
    margin-left: 0.625vw;

    color: rgba(255, 255, 255, 0.80);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.08333vw; /* 1.08333vw */
    letter-spacing: -0.01667vw;
}

.see svg {
    width: 0.625vw;
    height: 1.25vw;
    aspect-ratio: 1/2;
}

.status_update svg {
    width: 0.83333vw;
    height: 0.83333vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1024px) {
    .currencies_header {
        flex-direction: column;
        gap: 10.64vw;
    }
    .currencies_table_container{
        background: none;
    }
    .currencies_table {
        border-radius: 5.5vw;
        box-shadow: 0.2vw 0.2vw 2vw 1.5vw rgba(255, 255, 255, 0.015) inset;
        overflow: hidden;
        background: rgba(15, 14, 19, 0.9);
        backdrop-filter: blur(1vw);

    }

    .currencies_header h3 {
        font-size: 7.44681vw;
        font-style: normal;
        font-weight: 600;
        line-height: 7.44681vw;
        letter-spacing: -0.14894vw;
    }

    .calc_header {
        border-radius: 26.59574vw;

        width: 100%;
        padding: 1.06vw;

    }

    .table_head_1, .table_head_2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background: none;

    }

    .table_head_1 {
        padding: 4.25532vw 5.31915vw;

    }

    .table_head_1 span {
        color: #FFF;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--font-inter), sans-serif;
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 500;
        line-height: 4.46809vw;
        letter-spacing: -0.07447vw;
    }

    .head_switch {
        display: flex;
        flex-direction: row;
        gap: 2.13vw;
    }

    .head_switch div {
        display: flex;
        width: 10.6383vw;
        height: 10.6383vw;
        justify-content: center;
        align-items: center;
        gap: 2.65957vw;
    }

    .head_switch svg {
        width: 2.12766vw;
        height: 3.98936vw;
        flex-shrink: 0;
        aspect-ratio: 8/15;
    }

    .active path {
        fill: #622FF1;
        fill-opacity: 1;
    }

    .table_item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4.25532vw 2.12766vw;
        color: #FFF;
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 400;
        line-height: 4.46809vw;
        letter-spacing: -0.07447vw;
        opacity: 1;
        width: 30%;
        border-left: 1px solid rgba(255, 255, 255, 0.04);
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
        /*text-align: center;*/
        gap: 1.6vw;
    }

    .table_head_2 .table_item {
        border-top: 1px solid rgba(255, 255, 255, 0.04);

    }

    .table_head_2 .table_item:nth-of-type(1), .table_body_line .table_item:nth-of-type(1) {
        padding-left: 5.31915vw;
        justify-content: flex-start;
        width: 40%;
        border-left: none;

        /*flex-wrap: wrap;*/


    }
    .table_head_2{
        overflow-y: auto;
        scrollbar-gutter: stable;
    }
    .table_body {
        /*max-height: 10vw;*/
        max-height: 77.1vw;
        overflow-y: auto;
        scrollbar-gutter: stable;
    }

    .table_body_line {
        display: flex;
        flex-direction: row;

    }

    .icon_currencies {
        width: 6.38298vw;
        height: 6.38298vw;
        aspect-ratio: 1/1;
        border-radius: 6.38298vw;
    }

    .icon_currencies img {
        width: 3.38298vw;
        height: 3.38298vw;
        aspect-ratio: 1/1;
    }

    .curr_age img {
        width: 11.70213vw !important;
        height: 4.78723vw !important;
        aspect-ratio: 22/9;
        margin: 0;
    }

    .table_footer {


        display: flex;
        padding: 5.31915vw;
        flex-direction: row;
        align-items: flex-start;
        gap: 2.65957vw;
        align-self: stretch;
    }

    .btn_details {
        display: flex;
        height: 10.6383vw;
        padding: 0 2.65957vw 0 4.25532vw;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;

        border-radius: 26.59574vw;
        background: #FFF;
    }

    .btn_details span {
        color: #0F0E13;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--font-inter), sans-serif;
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 500;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
    }

    .btn_details div {
        display: flex;
        width: 5.31915vw;
        height: 5.31915vw;
        justify-content: center;
        align-items: center;
    }

    .btn_details div svg {
        width: 4.43271vw;
        height: 4.43271vw;
        flex-shrink: 0;
    }

    .status_update {
        display: flex;
        width: 33.51064vw;
        height: 10.6383vw;
        padding: 0 5.31915vw;
        justify-content: center;
        align-items: center;
        gap: 3.19149vw;

        border-radius: 26.59574vw;
        border: 0.133vw solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(1.33vw);

    }


    .status_update svg {
        width: 4.12234vw;
        height: 4.04202vw;
        flex-shrink: 0;
        aspect-ratio: 15.50/15.20;
    }

    .status_update span {
        color: #FFF;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--font-inter), sans-serif;
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 500;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
    }
    .btn_exchange{
        display: flex;
        height: 12.23404vw;
        padding: 2.12766vw 6.38298vw;
        justify-content: center;
        align-items: center;
        gap: 2.65957vw;
        align-self: stretch;

        border-radius: 26.59574vw;
        background: #622FF1;
        margin-top:8.51vw ;
        margin-bottom:21.28vw ;
    }
    .btn_exchange span{
        color: #FFF;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--font-inter), sans-serif;
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 600;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
    }
}