.header {
    display: flex;
    width: 62.5vw;
    padding: 0.625vw 1.66667vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 20.73vw;
    z-index: 50;
    bottom: 1vw;
    top: auto;
    border-radius: 1.25vw;
    background: rgba(15, 14, 19, 0.80);
    backdrop-filter: blur(1.56vw);

}

.mobile{
    top: 1vw;
    bottom: auto;
}

.rside {
    display: flex;
    gap: 9.1vw;
    align-items: center;
}

.lside {
    display: flex;
    gap: 0.62vw;
    align-items: center;
    font-size: 0.83vw;
    justify-content: flex-end;
}

.btn_write div:last-of-type {
    display: flex;
    flex-direction: row;
    padding: 0 1.25vw;
    height: 2.71vw;
    justify-content: center;
    gap: 0.62vw;
    align-items: center;
    background: white;
    color: #0F0E13;
}

.btn_write div:last-of-type svg {
    width: 1.25vw;
    height: auto;
}

.btn_phone div:last-of-type {
    display: flex;
    flex-direction: row;
    padding: 0 1.25vw;
    height: 2.71vw;
    justify-content: center;
    gap: 0.62vw;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
}

.btn_phone div:last-of-type svg {
    width: 1.25vw;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .header {
        display: flex;
        width: 91.2234vw;
        padding: 4.25532vw;
        justify-content: space-between;
        align-items: center;
        left: 4.26vw;

        border-radius: 6.38298vw;
        background: rgba(15, 14, 19, 0.80);


    }
    .lside, .rside{
        gap: 3.19vw;
        padding:0 ;
    }
    .header_menu {
        display: flex;
        height: 10.6383vw;
        padding: 2.12766vw 4.25532vw;
        justify-content: center;
        align-items: center;
        gap: 2.65957vw;

        border-radius: 26.59574vw;
        background: #FFF;
        backdrop-filter: blur(1.33vw);

        cursor: pointer;
        user-select: none;
    }

    .header_menu span {
        color: #0F0E13;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--font-inter), sans-serif;
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 500;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;


    }
}
