.switcher_container {
    width: 14.47917vw;
    height: 2.70833vw;
    border-radius: 5.20833vw;


    display: flex;
    padding: 0 0.625vw;
    justify-content: center;
    align-items: center;
    gap: 0.52083vw;
    flex: 1 0 0;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16667vw; /* 1.16667vw */
    letter-spacing: -0.01667vw;

    cursor: pointer;
}
.active{
    background: #622FF1;
}

@media screen and (max-width: 376px) {

    .switcher_container {
        height: 10.6383vw;

        font-size: 3.7234vw;
        line-height: 5.21277vw;
        font-weight: 500;
        letter-spacing: -0.07447vw;
    }
}