.numbers_section {
    display: flex;
    padding: 0 5.20833vw;
    align-items: flex-end;
    gap: 1.04167vw;
    align-self: stretch;
    margin-top: 4.17vw;
}

.aside_card {
    display: flex;
    width: 29.16667vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.54vw;
}
.aside_card_title{
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 3vw;
    letter-spacing: -0.05vw;
    align-self: stretch;
}
.aside_card_title span{
    background: linear-gradient(93deg, #B792FF -12.64%, #7447FB 15.04%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aside_bottom {
    display: flex;
    width: 29.16667vw;
    padding: 1.66667vw;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0.83333vw;

    border-radius: 1.66667vw;
    background: linear-gradient(106deg, #B792FF -62.71%, #7735FC 61.14%);
}

.aside_bottom_left{
    display: flex;
    padding: 1.04167vw 0;
    align-items: center;
    gap: 0.52083vw;
}
.aside_bottom_left{
    width: 2.5vw;
    height: 2.5vw;
    aspect-ratio: 1/1;
}


.aside_bottom_description {
    display: flex;
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-style: normal;
    line-height: 100%; /* 4.27083vw */
    flex-direction: column;
    font-size: 4.27083vw;
    font-weight: 700;
    height: fit-content;
    gap: 1.04vw;
}
.aside_bottom_description p{
    font-size: 1.25vw;
    letter-spacing: -0.025vw;
    line-height: 120%; /* 1.5vw */
    font-weight: 600;
}

@media screen and (max-width: 376px) {
    .numbers_section {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 колонки */
        grid-auto-rows: auto;
        gap: 1.86vw; /* відстань між елементами */
        padding: 0 4.26vw;
    }
    .numbers_section > :first-child {
        grid-column: 1 / -1;
    }
    .aside_bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 44.54787vw;
        min-height: 48.4vw;
        height: fit-content;
        padding: 4.25532vw;
        gap: 3.19vw;
        flex-shrink: 0;
        border-radius: 5.31915vw;
    }
    .aside_bottom_description{
        justify-content: space-between;
        gap: 12.57vw;
    }
    .aside_bottom_left{
        width: 5.85106vw;
        height: 5.85106vw;
        aspect-ratio: 1/1;
    }
    .aside_bottom_left svg{
        width: 5.6117vw;
        height: 5.85106vw;

        flex-shrink: 0;
    }
    .aside_bottom_description h3{
        font-size: 8.51064vw;
        line-height: 8.51064vw;
    }
    .aside_bottom_description p{
        font-size: 3.7234vw;
        line-height: 4.46809vw;
        letter-spacing: -0.07447vw;
    }
    .aside_card_title{
        font-size: 7.44681vw;
        line-height: 8.93617vw;
        letter-spacing: -0.14894vw;
        margin-bottom: 10.64vw;
    }

}