.map{
    width: 44.27083vw;
    height: 100% !important;
    aspect-ratio: 103/87;
    background-color: #859685;

    border-radius: 2.08333vw;

}

@media screen and (max-width: 376px) {
    .map{
        width: 91.2234vw;
        height: 99.46809vw;
        aspect-ratio: 166/181;
        border-radius: 6.38298vw;
        margin-top: 5.32vw;

    }
}