.social_item {
    display: flex;
    width: 14.0625vw;
    height: 10.52083vw;
    padding: 2.70833vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.83333vw;

    border-radius: 1.66667vw;
    border: 0.05208vw solid rgba(255, 255, 255, 0.00);
    background: #0F0E13;
    box-shadow: -0.20833vw -0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.04) inset,
    0.20833vw 0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(0.26042vw);
}

.social_item:hover {
    border-radius: 1.66667vw;
    border: 0.05208vw solid rgba(255, 255, 255, 0.00);
    background: #0F0E13;
    box-shadow: 0.20833vw 0.20833vw 0.20833vw 0vw rgba(255, 255, 255, 0.10),
    -0.20833vw -0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.10) inset,
    0.20833vw 0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.20) inset;
    backdrop-filter: blur(0.26042vw);
}

.social_item svg {
    width: 4.16667vw;
    height: 4.16667vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1024px) {
    .social_item{
        width: 28.98936vw;
        height: 21.2766vw;
        border-radius: 3.7234vw;

        border: 0.27vw solid rgba(255, 255, 255, 0.00);

        background: #0F0E13;
        box-shadow: -1.06vw -1.06vw 6.38vw 0 rgba(255, 255, 255, 0.04) inset,
        1.06vw  1.06vw 6.38vw 0 rgba(255, 255, 255, 0.10) inset;
        backdrop-filter: blur(1.33vw);

    }
    .social_item div svg, .social_item div{
        width: 8.51064vw;
        height: 8.51064vw;
        flex-shrink: 0;
        aspect-ratio: 1/1;

    }

    
}