.btn_mail .inner-content {
    position: relative;
    display: flex;
    height: 2.70833vw;
    padding: 0 1.25vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;

    border-radius: 5.20833vw;
    border: 0.5px solid rgba(255, 255, 255, 0.05);
    background: #ffffff;
    backdrop-filter: blur(5px);

    z-index: 1;
}