.btn_mail  .inner-content{
    position: relative;
    display: flex;
    height: 2.70833vw;
    padding: 0 1.25vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;

    border-radius: 5.20833vw;
    border: 0.02604vw solid transparent;
    background: #ffffff;
    backdrop-filter: blur(0.26042vw);
    box-shadow: none;
    transition: all 0.3s ease; /* плавність */
    z-index: 1;
    cursor: pointer;
}

.btn_mail_reversed .inner-content {
    position: relative;
    z-index: 1;
    cursor: pointer;

    display: flex;
    height: 2.70833vw;
    padding: 0 1.25vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;

    border-radius: 5.20833vw;
    background: rgba(255, 255, 255, 0.04);
    border: 0.005vw solid #626262;
    backdrop-filter: blur(1.56vw);
}

.btn_mail:hover {
    border-radius: 5.20833vw;
    background: #F4EEFF;
    box-shadow: 0 0.83333vw 1.71875vw 0vw rgba(255, 255, 255, 0.30);
}

@media screen and (max-width: 1024px) {
    .btn_mail  .inner-content {
        width: 91.2234vw;
        height: 10.6383vw;
        gap: 3.19149vw;
    }

    }