.location_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.83vw;
}

.bg_circle {
    display: flex;
    width: 1.45833vw;
    height: 1.45833vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5.20833vw;
    background: #FFF;

    position: relative;
}

.bg_circle div {
    position: absolute;

}

.bg_circle svg {

    width: 0.72917vw;
    height: 0.72917vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.location_header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.62vw;
}

.header_title {
    display: flex;
    flex-direction: column;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.45833vw; /*  */
    letter-spacing: -0.02083vw;
}

.header_title p {
    color: #BB9EFF;
}

.location_content {
    display: flex;
    padding: 1.25vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.83333vw;
    align-self: stretch;

    border-radius: 1.25vw;
    background: rgba(255, 255, 255, 0.06);
}

.location_content li {
    display: flex;
    align-items: center;
    gap: 0.625vw;
    align-self: stretch;
}

.location_content li p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.08333vw; /* 1.08333vw */
}

.location_btn {
    display: flex;
    height: 2.70833vw;
    padding: 0 1.25vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;
    align-self: stretch;

    border-radius: 5.20833vw;
    background: white;
    cursor: pointer;
    user-select: none;
}

.location_btn:hover {
    border-radius: 5.20833vw;
    background: #F4EEFF;
    box-shadow: 0 0.83333vw 1.71875vw 0vw rgba(255, 255, 255, 0.30);
}

.location_btn span {
    color: #0F0E13;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16667vw; /*  */
    letter-spacing: -0.01667vw;
}

.location_btn svg {
    width: 1.25vw;
    height: 1.25vw;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1024px) {
    .location_item {
        display: flex;
        padding: 7.44681vw 6.38298vw 6.38298vw 6.38298vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5.32vw;
        align-self: stretch;

        border-radius: 6.38298vw;
        background: linear-gradient(146deg, #B792FF -20.67%, #622FF1 78.87%);
    }

    .location_header {
        gap: 3.19vw;
    }

    .location_header .bg_circle {
        width: 7.44681vw;
        height: 7.44681vw;
    }

    .location_content {
        padding: 5.31915vw;

        gap: 3.19vw;
        border-radius: 6.38298vw;

    }

    .location_content .bg_circle {
        width: 6.38298vw;
        height: 6.38298vw;
    }

    .location_content li {
        gap: 2.13vw;
    }

    .location_content li p {
        width: 59vw;
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 400;
        line-height: 4.84043vw;
    }

    .bg_circle svg {
        width: 5.31915vw;
        height: 5.31915vw;
        flex-shrink: 0;
        aspect-ratio: 1/1;
    }

    .bg_circle svg:first-of-type {
        width: 5.31915vw;
        height: 5.31915vw;
    }

    .bg_circle svg:last-of-type {
        width: 3.7234vw;
        height: 3.7234vw;
    }

    .header_title h4, .header_title p {
        font-size: 4.25532vw;
        font-style: normal;
        font-weight: 600;
        line-height: 5.95745vw;
        letter-spacing: -0.08511vw;
    }

    .location_btn {
        display: flex;
        height: 12.23404vw;
        padding: 0 6.38298vw;
        justify-content: center;
        align-items: center;
        gap: 3.19149vw;
        align-self: stretch;
        border-radius: 26.59574vw;

    }

    .location_btn span {
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 5.21277vw */
        letter-spacing: -0.07447vw;
    }

    .location_btn div {
        width: 6.38298vw;
        height: 6.38298vw;
    }

    .location_btn div svg {
        width: 5.31915vw;
        height: 5.31915vw;
        flex-shrink: 0;
    }
}

