.line_item {
    display: flex;
    padding: 0.83333vw 1.25vw;
    align-items: center;
    gap: 0.625vw;
    align-self: stretch;
    flex-direction: row;

    border-radius: 8.64583vw;
    background: #17161C;
}

.line_item p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375vw; /* 0.9375vw */
    letter-spacing: -0.01875vw;
}

.line_item svg {
    width: 1.25vw;
    height: 1.25vw;

}

@media screen and (max-width: 1024px) {
    .line_item {
        padding: 3.19149vw 3.19149vw 3.19149vw 5.31915vw;
        gap: 2.12766vw;
        align-self: stretch;
        border-radius: 4.25532vw;
        align-items: flex-start;

    }
    .line_item p{
        font-size: 3.7234vw;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
    }
    .line_item div{
        width: 5.31915vw;
        height: 5.31915vw;
        aspect-ratio: 1/1;
    }
    .line_item div svg{
        width: 4.76516vw;
        height: 4.9867vw;
        flex-shrink: 0;
    }

}