.service_aside{
    display: flex;
    flex-direction: column;
    gap: 3.33vw ;
}

.service_aside h3{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 2.70833rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 2.70833rem */
    letter-spacing: -0.05417rem;
}
.service_aside h3 span{
    background: linear-gradient(93deg, #B792FF 16.82%, #7447FB 79.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service_aside ul{
    display: flex;
    flex-direction: column;
    gap: 2.5vw;

}

.aside_menu{
    display: flex;
    flex-direction: row;
    gap: 3.02vw;
}

.aside_scroll{
    width: 0.10417vw;
    border-radius: 5.20833rem;
    background: #262627;
}

