.service_aside {
    display: flex;
    flex-direction: column;
    gap: 3.33vw;
}

.service_aside h3 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 2.70833vw */
    letter-spacing: -0.05417vw;
}

.service_aside h3 .easy {
    background: linear-gradient(93deg, #B792FF 16.82%, #7447FB 79.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service_aside ul {
    display: flex;
    flex-direction: column;
    gap: 2.5vw;


}

.service_aside li {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5vw; /* 1.5rem */
    letter-spacing: -0.025vw;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.1s;
}

.aside_menu {
    display: flex;
    flex-direction: row;
    gap: 3.02vw;
}

.aside_scroll_item{
    width: 0.20833vw;
    /*height: 2.13542vw;*/
    border-radius: 5.20833vw;
}

.aside_scroll_item:hover{
    background: rgba(255, 255, 255, 0.46);
    box-shadow: 0 0.20833vw 0.41667vw 0vw rgba(255, 255, 255, 0.30);
}
.active {
    opacity: 0.9 !important;
}


.aside_scroll {
    width: 0.10417vw;
    border-radius: 5.20833vw;
    background: #262627;
    transition: height 5s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active_scroll {
    border-radius: 5.20833vw;
    background: #FFF;
    width: 0.20833vw;
    height: 100%;
    animation: expandHeight 5s forwards;
}

@keyframes expandHeight {
    0% {
        height: 0;
        background-color: rgba(255, 255, 255, 0.46);
    }
    100% {
        height: 100%;
        background-color: rgb(255, 255, 255);
    }
}
@keyframes expandWidth {
    0% {
        width: 0;
        background-color: rgb(98, 47, 241);
    }
    100% {
        width: 100%;
        background-color: rgb(98, 47, 241);
    }
}



.nep {
    background-color: rgba(203, 0, 0, 0.7);
}

@media screen and (max-width: 1024px) {
    .service_aside h3{
        font-size: 7.44681vw;
        line-height: 7.44681vw;
        letter-spacing: -0.14894vw;
    }
    .aside_menu{
        flex-direction: column;
    }
    .aside_menu ul{
        flex-direction: row;
        overflow: scroll;
        gap: 2.66vw;
        padding: 1vw 0 2vw 0  ;
    }
    .aside_menu ul li{
        text-wrap: nowrap;

        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 600;
        line-height:  4.46809vw;
        letter-spacing: -0.07447vw;
    }
    .active_scroll {
        border-radius: 5.20833vw;
        background: #FFF;
        width: 0.20833vw;
        height: 100%;
        animation: expandWidth 5s forwards;
    }
    .aside_scroll{
        width: 91.2234vw;
        flex-direction: row;
        margin-top: 6.38vw;
        margin-bottom: 10.64vw;
        height: 0.79787vw;
        user-select: none;
    }
    .aside_scroll_item{
        height: 0.79787vw;

    }


}
