.card_item {
    display: flex;
    width: 19.0625vw;
    height: 19.89583vw;
    justify-content: space-between;
    padding: 1.66667vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.83333vw;

    border-radius: 1.66667vw;
    border: 0.05208vw solid #622FF1;
    background: #0F0E13;
    box-shadow: 0.20833vw 0.20833vw 1.04167vw 0vw rgba(255, 255, 255, 0.04) inset;

    overflow: hidden;
}

.card_item div {
    display: flex;
    flex-direction: column;
}

.card_item div p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.5vw */
    letter-spacing: -0.025vw;
    opacity: 1;
}

.card_item span {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 4.27083vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 5.125vw */
}

.card_item p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.16667vw */
    letter-spacing: -0.01667vw;

    opacity: 0.6;
}

@media screen and (max-width: 1024px) {
    .card_item {
        display: flex;
        width: 44.54787vw;
        min-height: 48.4vw;
        height: auto;
        padding: 4.25532vw;
        gap: 8.51vw;
        flex-shrink: 0;
        border-radius: 5.31915vw;

    }
    .card_item p{
        font-size: 3.7234vw;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
    }
    .card_item div{
        gap: 2.13vw;
    }
    .card_item div p{
        font-size: 3.7234vw;
        font-weight: 600;
        line-height: 4.84043vw;
        letter-spacing: -0.07447vw;

    }
    .card_item div span{
        font-size: 8.51064vw;
        font-style: normal;
        font-weight: 700;
        line-height: 8.51064vw;
    }
}