.item_block{
    width: 50%;
    display: flex;
    padding: 2.08333vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;

    border-radius: 1.04167vw;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(0.78125vw);
}

.item_block h4 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.25vw */
    letter-spacing: -0.02083vw;
}

.item_block{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.25vw */
    letter-spacing: -0.02083vw;
}
.item_block ul{
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}
.item_block_line{
    display: flex;
    flex-direction: row;

    gap: 0.63vw;
}
.item_block_line p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.16667vw */
    letter-spacing: -0.01667vw;
}

.item_block_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 1.86vw;
    height: 1.86vw;
    background: #ffffff;
    border-radius: 5.20833vw;
}
.item_block_icon div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item_block_icon span{
    color: #8143FD;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-noto-sans);
    font-size: 0.72917vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 0.875vw */
}

.item_block_icon svg{
    width: 1.04167vw;
    height: 1.04167vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1024px) {
    .item_block{
        width: auto;
        display: flex;
        padding: 4.25532vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 4.25532vw;
        align-self: stretch;
        border-radius: 5.31915vw;

    }
    .item_header{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .arrow{
        transition: transform 1s ease;

    }
    .item_block h4{
        font-size: 3.7234vw;
        line-height: 4.46809vw;
        letter-spacing: -0.07447vw;
    }
    .item_block_line{
        gap: 2.12766vw;
    }
    .item_block_line p {
        font-size: 3.7234vw;
        line-height: 5.21277vw; /* 5.21277vw */
        letter-spacing: -0.07447vw;
    }
    .item_block_icon , .item_block_icon div{
        display: flex;
        width: 4.25532vw;
        min-width: 4.25532vw;
        height: 4.25532vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.65957vw;
        aspect-ratio: 1/1;
        border-radius: 26.59574vw;

    }
    .item_block_icon span{
        font-size: 2.92553vw;
        line-height: 1.75532vw;
    }
    .item_block_icon svg{
        width: 3.35851vw;
        height: 2.43803vw;
    }
    .active{
        rotate: 180deg;
    }
    
}