.item_block{
    width: 50%;
    display: flex;
    padding: 2.08333vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;

    border-radius: 20px;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
}

.item_block h4 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.25vw */
    letter-spacing: -0.02083vw;
}

.item_block{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.25vw */
    letter-spacing: -0.02083vw;
}
.item_block ul{
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}
.item_block_line{
    display: flex;
    flex-direction: row;

    gap: 0.63vw;
}
.item_block_line p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.16667vw */
    letter-spacing: -0.01667vw;
}

.item_block_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 1.86vw;
    height: 1.86vw;
    background: #ffffff;
    border-radius: 100px;

}
.item_block_icon span{
    color: #8143FD;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-noto-sans);
    font-size: 0.72917vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 0.875vw */
}