.btn_phone .inner-content{
    position: relative;
    display: flex;
    height: 2.70833vw;
    padding: 0 1.25vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;

    border-radius: 5.20833vw;
    border: 0.02604vw solid transparent; /* фіксована товщина */
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(0.26042vw);
    box-shadow: none;
    transition: all 0.3s ease; /* плавність */
    z-index: 1;
}
.btn_phone_reversed .inner-content{
    border-radius: 5.20833vw;
    display: flex;
    width: 2.70833vw;
    height: 2.70833vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;
    background: white;
    padding: 0;
}
/*.btn_phone_reversed:hover{*/
/*    border-color: rgba(247, 234, 249, 0.50);*/
/*    background: rgba(255, 255, 255, 0.04);*/
/*    box-shadow: 0 0 0.41667vw rgba(98, 47, 241, 0.50);*/
/*    cursor: pointer;*/
/*}*/

.btn_phone:hover {
    border-color: rgba(247, 234, 249, 0.50);
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 0 0.41667vw rgba(98, 47, 241, 0.50);
    cursor: pointer;

}

@media screen and (max-width: 1024px) {
    .btn_phone_reversed .inner-content{
        display: flex;
        width: 10.6383vw;
        height: 10.6383vw;
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        aspect-ratio: 1/1;
        border-radius: 26.59574vw;

        background: rgba(255, 255, 255, 0.04);

        border: 0.133vw solid rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(1.33vw);

    }
    .btn_phone_mob_menu .inner-content{
        border-radius: 26.59574vw;
        background: #622FF1;
    }
}
