.btn_phone svg {
    width: 0.83333vw;
    height: 0.83333vw;
    aspect-ratio: 1/1;
}

.btn_phone span {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16667vw; /* 1.16667vw */
    letter-spacing: -0.01667vw;
}


.btn_phone_reversed svg {
    width: 1.25vw;
    height: 1.25vw;
    flex-shrink: 0;
}

.btn_phone_reversed svg path {
    fill: #09090A;

}

.btn_phone_reversed span {
    display: none;
}

@media screen and (max-width: 1024px) {
    .btn_phone_reversed svg {
        width: 4.25532vw;
        height: 4.25532vw;
        flex-shrink: 0;
        aspect-ratio: 1/1;

    }

    .btn_phone_reversed svg path {
        fill: white;
    }
}