.section_hero {
    width: 100vw;
    height: 46.93vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5.21vw;
}

.hero_main {
    width: 50.52vw;
    height: 46.93vw;
    padding: 8.75vw 5.42vw 0 8.33vw;
    border-radius: 2.08333vw;
    display: flex;
    flex-direction: column;
    gap: 2.92vw;
}

.hero_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.swap {
    background: linear-gradient(93deg, #B792FF -12.64%, #7447FB 15.04%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_header p {
    text-align: center;
    align-items: center;
    font-size: 3.54167vw;
    font-weight: 600;
    line-height: 110%;
    font-family: var(--font-inter), sans-serif;
    letter-spacing: -0.07083vw;
}

.hero_header_icons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

.hero_header_icons img {
    width: 4.38vw;
    padding: 0.625vw;
}

.hero_header_icons img:last-of-type {
    position: relative;
    left: -25%;
    z-index: 0;
}

.hero_header_icons img:first-of-type {
    position: relative;

    z-index: 1;
}

.hero_description {
    font-size: 3.54167vw;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.07083vw;
    font-family: var(--font-inter), sans-serif;
}


.hero_items {
    display: flex;
    flex-direction: row;
    gap: 0.625vw;
}

.calculator {
    width: 35.94vw;
    padding: 3.125vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 2.08333vw;
    border: 0.05208vw solid #FFF;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.06) -17.85%, rgba(255, 255, 255, 0.00) 117.02%);
    backdrop-filter: blur(2.44799vw);


    gap: 2.08vw;
}

.calc_header {
    display: flex;
    padding: 0.3125vw;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    border-radius: 5.20833vw;
    border: 0.07813vw solid #3D3856;

    backdrop-filter: blur(1.04167vw);
}

.calc_content {
    display: flex;
    flex-direction: column;
    gap: 0.42vw;
}

.calc_course {
    margin-top: 0.62vw;
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.72917vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.02083vw; /* 1.02083vw */
    letter-spacing: -0.01458vw;

    opacity: 0.7;


}

.calc_course_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.21vw;
}

.curr_age img {
    width: 3.125vw;
    height: 1.30208vw;
    aspect-ratio: 12/5;
}

.btn_exchange {
    display: flex;
    width: 29.6875vw;
    height: 3.33333vw;
    padding: 0.41667vw 1.25vw;
    justify-content: center;
    align-items: center;
    gap: 0.52083vw;

    border-radius: 5.20833vw;
    background: #622FF1;

    color: #F7EAF9;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 1.16667vw */
    letter-spacing: -0.01667vw;
    user-select: none;
    cursor: pointer;
}

.btn_exchange:hover {
    box-shadow: 0 1.04167vw 2.91667vw 0vw rgba(98, 47, 241, 0.50);
}

.btn_replace {
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.3125vw;
    justify-content: center;
    align-items: center;
    gap: 0.52083vw;
    aspect-ratio: 1/1;
    position: absolute;

    left: 12.8125vw;
    bottom: -1.2vw;

    border-radius: 5.20833vw;
    border: 0.3125vw solid #131218;
    background: #F4EEFF;
    backdrop-filter: blur(2.60417vw);


    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
}

.btn_replace svg {
    width: 0.9375vw;
    height: 0.9375vw;
}

.btn_replace:hover {
    background-color: white;
}


@media screen and (max-width: 376px) {
    .section_hero {
        width: 100vw;
        height: 281.13vw;
        align-items: flex-start;
    }


    .hero_aside {
        position: relative;

    }

    .hero_container {
        position: relative;
        z-index: 10;
        flex-direction: column;
        margin: 17.02vw 4.26vw 0 4.26vw;
    }

    .calculator {
        margin: 10.64vw 4.26vw 0 4.26vw;
        width: 91.22vw;
        padding: 5.32vw 4.26vw;
        gap: 9.57vw;
        border-radius: 8.51064vw;


    }

    .image_container {
        display: flex;
        position: absolute;
        z-index: 0;
    }

    .image_container img {
        width: 100vw;
        height: 215.96vw;
    }

    .hero_header span, .hero_header p, .hero_description p {
        font-size: 10.64vw;
        line-height: 14.89vw;
        letter-spacing: -0.21vw;

    }

    .hero_description p {
        font-size: 8.51vw;
        line-height: 11.70vw;
        letter-spacing: -0.17vw;

    }

    .hero_header_icons img {
        width: 9.57vw;
        height: 9.57vw;
    }

    .calc_content {
        gap: 1.6vw;
    }

    .calc_course_container {
        font-size: 3.19149vw;
        font-weight: 400;
        /*line-height: 3.19149vw;*/
        letter-spacing: -0.06383vw;
    }

    .curr_age img {
        width: 11.70213vw;
        height: 4.78723vw;
        aspect-ratio: 22/9;
    }

    .btn_exchange {
        height: 12.23404vw;
        width: 82.71vw;
        padding: 2.12766vw 6.38298vw;
        font-size: 3.7234vw;

        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
    }
    .hero_items{
        gap: 2.13vw;
        margin: 10.64vw 3.99vw 0;
    }
}