
.popup_backgraund {
    position: fixed; /* краще ніж absolute для фулскріну */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center; /* вертикальне центрування */
    justify-content: center; /* горизонтальне центрування */

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.26042vw);
    z-index: 100;
}

.popup_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 2.08333vw;
    background: #1E1C25;
    backdrop-filter: blur(1.04167vw);

    position: relative;

}

.btn_close {
    display: flex;
    width: 3.125vw;
    height: 3.125vw;
    padding: 0.625vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 1.66667vw;
    background: rgba(196, 196, 196, 0.20);
    backdrop-filter: blur(0.78125vw);

    position: absolute;
    right: -4.3vw;
    top: -2.9vw;
    cursor: pointer;
}

.btn_close svg {
    width: 1.66667vw;
    height: 1.66667vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;

}

.container {
    display: flex;
    width: 38.54167vw;
    padding: 3.75vw 3.125vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25vw;
    overflow: hidden;

    border-radius: 2.08333vw;
    background: #1E1C25;
    backdrop-filter: blur(15vw);
    position: relative;
}

.container h3 {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 2.29167vw;
    font-style: normal;
    font-weight: 600;
    line-height: 2.29167vw;
    letter-spacing: -0.04583vw;
}

.container p {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16667vw;
    letter-spacing: -0.01667vw;
    opacity: 0.7;
    overflow-wrap: break-word;
    white-space: pre-line;

}

.img_container:nth-of-type(1) {
    position: absolute;
    width: 6.68292vw;
    height: 6.68292vw;
    top: -0.23vw;
    left: 2.15vw;
    transform: rotate(-8.535deg);
}

.img_container:nth-of-type(2) {
    position: absolute;
    width: 8vw;
    height: 6.58109vw;
    right: -0.1vw;
    bottom: -2.2313vw;
}

.img_container img {
    width: 100%;
    height: 100%;
}

.btn_send:hover {
    border-radius: 5.20833vw;
    background: #F4EEFF;
    box-shadow: 0 0.83333vw 1.71875vw 0vw rgba(255, 255, 255, 0.30);
}

.btn_close:hover {
    background: white;
}

.btn_close:hover svg path {
    fill: black;
}

@media screen and (max-width: 1024px) {
    .popup_container {
        display: flex;
        width: 91.2234vw;
        height: 46.2766vw;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6.38298vw;
        flex-shrink: 0;

        border-radius: 6.38298vw;
        background: #1E1C25;
    }

    .container {
        gap: 4.26vw;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 6.38298vw;
        padding: 5.31915vw;
    }

    .btn_close {
        width: 13.6383vw;
        height: 13.6383vw;
        border-radius: 8.51064vw;
        background: #FFF;
        backdrop-filter: blur(3.99vw);
        right: 0;
        top: -18vw;
    }

    .btn_close svg {
        width: 6.38298vw;
        height: 6.38298vw;
        flex-shrink: 0;
        aspect-ratio: 1/1;
    }

    .btn_close svg path {
        fill: #0F0E13;
    }

    .container h3 {
        font-size: 6.38298vw;
        font-style: normal;
        font-weight: 600;
        line-height: 7.02128vw;
        letter-spacing: -0.12766vw;


    }

    .container p {
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 400;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
        opacity: 0.7;
    }

    .img_container:nth-of-type(1) {
        width: 14.11117vw;
        height: 14.11117vw;
        transform: rotate(-8.535deg);
        top: -1vw;
        left: 6.15vw;
    }

    .img_container:nth-of-type(2) {
        width: 19.68191vw;
        height: 14.68191vw;
        bottom: -4.5vw;
        right: -0.5vw;
    }

    .img_container img {
        width: 100%;
        height: 100%;

    }
    .content_container{
        width: 100%;
        height: 100%;
    }

}