.contacts_section{
    margin-top: 10.47vw;
    padding: 0 5.21vw;
    gap: 1.04vw;
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
    justify-content: space-between;
}

.content{
    display: flex;
    padding: 2.70833vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.16667vw;
    align-self: stretch;

    border-radius: 1.66667vw;
    background: linear-gradient(146deg, #B792FF -20.67%, #622FF1 78.87%);
}
.content h3{
    color: #ffffff;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 600;
    line-height: 2.70833vw; /* 2.70833vw */
    letter-spacing: -0.05417vw;
}

.content_list_address{
    display: flex;
    flex-direction: row;
    gap: 2.81vw;
}

.content_list_social{
    display: flex;
    flex-direction: row;
    gap: 1.04vw;
}

@media  screen and (max-width: 1024px) {
    .contacts_section{
        flex-direction: column;
        padding: 0 4.26vw ;

    }
    .content_list_address{
        flex-direction: column;
        gap: 2.13vw;
    }
    .content{
        background: none;
        gap: 10.64vw;
        padding: 0;
    }
    .content h3{
        font-size: 7.44681vw;
        font-style: normal;
        font-weight: 600;
        line-height: 7.44681vw;
        letter-spacing: -0.14894vw;
    }
    .content_list_social{
        gap: 2.39vw;
        margin-top: 5.32vw;
    }
}

