.container_application_department{
    display: flex;
    flex-direction: column;
    gap: 0.62vw;
    align-items: flex-start;
    width: 100%;
}

.form_label {
    color: rgba(255, 255, 255, 0.50);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.72917vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.02083vw;
    letter-spacing: -0.01458vw;
}

.select_container{
    width: 100%;
    position: relative;
}
.select_container input{
    color: #FFF;
    display: flex;
    width: 100%;
    height: 3.33333vw;
    padding-left: 1.04167vw;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-radius: 1.04167vw;
    background: rgba(23, 21, 27, 0.70);
}
.select_container input::placeholder{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16667vw; /*  */
    letter-spacing: -0.01667vw;
    opacity: 0.3;
}
.btn{
    width: 3.54167vw;
    display: flex;
    padding: 0 1.04167vw;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    border-radius: 1.04167vw;
    background: #212028;
    cursor: pointer;
}

.btn svg{
    width: 0.625vw;
    height: 1.25vw;
    flex-shrink: 0;
    aspect-ratio: 1/2;
}

.options_container{
    top: 3.75vw;
    width: 100%;
    position: absolute;
    display: none;
    padding: 0.625vw 0;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 1.04167vw;
    background: #141219;
}
.options_container li{
    display: flex;
    width: 100%;
    height: 3.54167vw;
    padding-left: 1.04167vw;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-radius: 1.04167vw;
    background: rgba(20, 18, 25, 0.80);

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16667vw; /*  */
    letter-spacing: -0.01667vw;
}

.active{
    display: flex;
}

.form_input{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16667vw; /*  */
    letter-spacing: -0.01667vw;
}

.container_application_department:hover {
    cursor: pointer;
}

.container_application_department:hover input {
    background: #131019;
}

.container_application_department:hover label {
    color: #FFF;
}

.container_application_department input:focus {
    border-color: #2C2C2C;
}


@media screen and (max-width: 376px) {
    .container_application_department {
        width: 100%;
        gap: 3.19vw;
    }
    .container_application_department label {
        font-size: 3.19149vw;
        font-style: normal;
        font-weight: 500;
        line-height: 4.46809vw;
        letter-spacing: -0.06383vw;
    }

    .select_container input::placeholder, .select_container input{
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 400;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
    }
    .select_container{
        width: 100%;
        height: 12.76596vw;
        border-radius: 3.7234vw;
    }
    .select_container input{
        height: 100%;
        border-radius: 3.7234vw;

    }
    .select_container input{
        padding-left: 5.32vw;
    }

    .options_container {
        top: 15vw;
        border-radius: 3.7234vw;
        gap: 5vw;
        padding: 3vw 2vw;
    }
    .options_container li {
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 400;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
        padding: 1vw 2vw;
    }
    .btn{
        width: 11.70213vw;
        background: none;
    }
    .btn svg{
        width: 2.65957vw;
        height: 5.31915vw;
        flex-shrink: 0;
        aspect-ratio: 11/20;
    }
}