.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.rside {
    display: flex;
    gap: 9.1vw;
    padding: 0.83vw 0.83vw 0.83vw 5.28vw;
    align-items: center;
}

.lside {
    display: flex;
    gap: 0.62vw;
    padding: 0.83333vw 5.20833vw 0.83333vw 0;
    align-items: center;
    font-size: 0.83vw;
    justify-content: flex-end;
}

.btn_write div:last-of-type {
    display: flex;
    flex-direction: row;
    padding: 0 1.25vw;
    height: 2.71vw;
    justify-content: center;
    gap: 0.62vw;
    align-items: center;
    background: white;
    color: #0F0E13;
}

.btn_write div:last-of-type svg {
    width: 1.25vw;
    height: auto;
}

.btn_phone div:last-of-type {
    display: flex;
    flex-direction: row;
    padding: 0 1.25vw;
    height: 2.71vw;
    justify-content: center;
    gap: 0.62vw;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
}

.btn_phone div:last-of-type svg {
    width: 1.25vw;
    height: auto;
}

/* CSS приклад */
.headerScroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.4s ease;
    transform: translateY(-100%); /* схований зверху */
    opacity: 0;
    pointer-events: none;
}

.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}


@media screen and (max-width: 1024px) {
    .header {
        display: flex;
        width: 99.73404vw;
        padding: 4.25532vw;
        justify-content: space-between;
        align-items: center;
    }
    .lside, .rside{
        gap: 3.19vw;
        padding:0 ;
    }
    .header_menu {
        display: flex;
        height: 10.6383vw;
        padding: 2.12766vw 4.25532vw;
        justify-content: center;
        align-items: center;
        gap: 2.65957vw;

        border-radius: 26.59574vw;
        background: #FFF;
        backdrop-filter: blur(1.33vw);

    }

    .header_menu span {
        color: #0F0E13;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--font-inter), sans-serif;
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 500;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
    }
}
