.review_swiper{
    display: flex;
    flex-direction: row;
    margin-top: 4.17vw ;
    margin-bottom: 2.71vw ;

}
.review_slider_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.review_slide{
    display: flex;
    min-height: 26.04167vw;
    padding: 1.66667vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 1.66667vw;
    border: 0.05208vw solid rgba(255, 255, 255, 0.00);
    background: #0F0E13;
    box-shadow:
            -0.20833vw -0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.04) inset,
            0.20833vw  0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.10) inset;

}
.review_slide:hover{
    background: linear-gradient(146deg, #B792FF -20.67%, #622FF1 78.87%);

}
.review_slide:hover svg path{
    fill: white;
}

.swiper_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.63vw;
}

.swiper_header div{
    width: 2.70833vw;
    height: 2.70833vw;
    aspect-ratio: 1/1;
}

.swiper_header p{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875vw; /* 1.21875vw */
    letter-spacing: -0.01875vw;
}

.review_image, .review_image img{
    width: 5.8vw;
    height: 5.3vw;
    cursor: pointer;
    border-radius: 1vw;
}

.swiper_scroll_container{
    width: 12.91667vw;
    height: 0.15625vw;
    background: rgba(255, 255, 255, 0.20);
    margin: 0 0.89vw;
    position: relative;
    user-select: none;
}
.swiper_scroll_info{
    position: absolute;
    bottom: 0.83vw;
    left: 0.62vw;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 400;
    line-height:  1.14583vw; /* 1.14583vw */
    letter-spacing: -0.02083vw;
}
.swiper_scroll_back{
    height: 0.15625vw;
    background: #622FF1;
}
@media screen and (max-width: 1024px) {
    .review_slide{
        display: flex;
        width: 79.78723vw;
        /*min-height: 100vw;*/
        padding: 5.31915vw;
        flex-direction: column;
        align-items: flex-start;
        gap: 23.93617vw;
        border-radius: 5.31915vw;
        background: linear-gradient(146deg, #B792FF -20.67%, #622FF1 78.87%);
    }
    .swiper_header{
        gap: 3.19vw;
    }
    .swiper_header svg path{
        fill: white;
    }
    .swiper_header div{
        width: 13.82979vw;
        height: 13.82979vw;
        aspect-ratio: 1/1;
    }
    .swiper_header svg{
        width: 11.2367vw;
        height: 8.21144vw;
        flex-shrink: 0;
    }
    .swiper_header p{
        font-size: 4.78723vw;
        font-style: normal;
        font-weight: 400;
        line-height: 6.2234vw;
        letter-spacing: -0.09574vw;
    }
    .review_image, .review_image img {
        width: 29.79vw;
        height: 27.66vw;
        flex-shrink: 0;
        border-radius: 3vw;
    }
    .review_slider_nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .swiper_scroll_container{
        margin-right: 29.52vw;
        width: 37.23404vw;
        height: 0.79787vw;
    }
    .swiper_scroll_back{
        height: 0.79787vw;
        background: #622FF1;
    }
    .swiper_scroll_info{
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 400;
        line-height:  4.09574vw;
        letter-spacing: -0.07447vw;
        bottom: 4.26vw;
    }
    .review_swiper{
        padding-top: 10.64vw ;
        padding-bottom: 8.51vw ;
    }
}