.slider-container{
    position: relative;

}
.value-indicator{
    left: 2vw;
}

.swiper-wrapper{
    /*gap: 1.04vw;*/
}

.value-indicator{
    color: #FFF!important;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif !important;
    font-size: 1.04167vw!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 1.14583vw !important; /* 1.14583vw */
    letter-spacing: -0.02083vw!important;
}
.slider-range{
    height: 0.15625vw !important;
    background-color: #622FF1 !important ;
}

.slider-track-wrapper{
    height: 0.15625vw !important;
}
.prevReview, .nextReview{
    display: flex;
    padding: 1.14583vw;
    align-items: center;
    gap: 0.52083vw;
    cursor: pointer;
}

.prevReview svg, .nextReview svg{
    transition: all 0.3s;
    width: 0.74313vw;
    height: 1.35104vw;
    fill: rgba(255, 255, 255, 0.20);
}
.active_arrow svg{
    fill: #622FF1;
    opacity: 1;
}


.prevReview:hover svg, .nextReview:hover svg{
    fill: #622FF1;
    opacity: 1;
}
/*.swiper-slide{*/
/*    margin-right: 1.04vw!important;*/
/*}*/
@media screen and (max-width: 1024px){
    .prevReview, .nextReview{
        width: 10.6383vw;
        height: 10.6383vw;
    }
    .prevReview{
        margin-right: 3.19vw;
    }
    .prevReview svg, .nextReview svg{
        width: 2.65957vw;
        height: 4.78723vw;
        fill: rgba(255, 255, 255, 0.20);

    }
    .swiper-slide{
        height: auto;
    }

}