.review_swiper{
    display: flex;
    flex-direction: row;
    margin-top: 4.17vw ;
    margin-bottom: 2.71vw ;

}
.review_slider_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.review_slide{
    display: flex;
    min-height: 26.04167vw;
    padding: 1.66667vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 1.66667vw;
    border: 0.05208vw solid rgba(255, 255, 255, 0.00);
    background: #0F0E13;
    box-shadow:
            -0.20833vw -0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.04) inset,
            0.20833vw  0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.10) inset;

}

.swiper_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.63vw;
}

.swiper_header div{
    width: 2.70833vw;
    height: 2.70833vw;
    aspect-ratio: 1/1;
}

.swiper_header p{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875vw; /* 1.21875vw */
    letter-spacing: -0.01875vw;
}

.review_image, .review_image img{
    width: 5.8vw;
    height: 5.3vw;
}

.swiper_scroll_container{
    width: 12.91667vw;
    height: 0.15625vw;
    background: rgba(255, 255, 255, 0.20);
    margin: 0 0.89vw;
    position: relative;
}
.swiper_scroll_info{
    position: absolute;
    bottom: 0.83vw;
    left: 0.62vw;

}
