.faq_item{
    display: flex;
    width: 59.375vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.66667vw;

    border-radius: 30px;
    background: #0E0E0F;
}