.footer {
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 2.70833vw 2.70833vw 0 0;
    background: #0D0D0D;

    padding: 8.33vw 5.0vw 2.71vw 5.14vw;
    margin-top: 13.54vw;
    position: relative;
}
.footer_container {
    position: relative;
    z-index: 1;
}

.footer_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.6vw;
}

.lside {
    display: flex;
    gap: 0.62vw;
    align-items: center;
    font-size: 0.83vw;
    justify-content: flex-end;
}

.btn_write div:last-of-type {
    display: flex;
    flex-direction: row;
    padding: 0 1.25vw;
    height: 2.71vw;
    justify-content: center;
    gap: 0.62vw;
    align-items: center;
    background: white;
    color: #0F0E13;
}

.btn_write div:last-of-type svg {
    width: 1.25vw;
    height: auto;
}

.btn_phone div:last-of-type {
    display: flex;
    flex-direction: row;
    padding: 0 1.25vw;
    height: 2.71vw;
    justify-content: center;
    gap: 0.62vw;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
}

.btn_phone div:last-of-type svg {
    width: 1.25vw;
    height: auto;
}

.sm_icon {
    display: flex;
    width: 2.70833vw;
    height: 2.70833vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;

    border-radius: 5.20833vw;
    border: 0.5px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(0.26042vw);
}

.sm_icon:hover {
    background: linear-gradient(146deg, #B792FF -20.67%, #622FF1 78.87%);

}

.sm_icon svg {
    width: 1.25vw;
    height: 1.25vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.social_media {
    display: flex;
    flex-direction: row;
    gap: 0.625vw;
    align-items: center;
    justify-content: center;
    margin-left: 32.55vw;
    margin-right: 16.46vw;
}

.footer_title {
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 12.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 13.75vw; /*  */
    letter-spacing: -0.25vw;

    text-align: center;
}

.footer_title .easy {
    background: linear-gradient(93deg, #B792FF -12.64%, #7447FB 15.04%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 17.5vw;
}

.footer_footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.63vw;
}


.footer_footer p {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 500;
    line-height: 0.83333vw; /*  */
    opacity: 0.4;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


.footer_footer span {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 600;
    line-height: 0.83333vw; /*  */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    opacity: 1;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.footer_words {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.97vw;
    position: relative;
}

.word_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.4vw;
}

.word_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;

    top: 1vw;
    border-radius: 1.66667vw;
    border: 0.05208vw solid rgba(255, 255, 255, 0); /* 1px → vw */
    background: rgba(15, 14, 19, 0.30);
    box-shadow: -0.20833vw -0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.04) inset,
    0.20833vw 0.20833vw 1.25vw 0vw rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(0.26042vw);


}

.word_item div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 14.0625vw;
    min-height: 10.52083vw;
    padding: 2.70833vw;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.04167vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25vw; /*  */
    letter-spacing: -0.02083vw;
}

.word_item:nth-of-type(2) {
    top: 6vw;
}

.circle{
    position: absolute;
    z-index: 0;
    width: 30vw;
    height: 25vw;

    top: 20vw;
    left: 42vw;
    border-radius: 60vw;
    background: linear-gradient(177deg, #0E0E0F 24.3%, #4D2796 58.58%, #9A0CFF 94.98%);
    filter: blur(18vw);
}

.footer_to_up{
    display: flex;
    width: 3.75vw;
    height: 3.75vw;
    justify-content: center;
    align-items: center;
    gap: 0.52083vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;

    border-radius: 5.20833vw;
    background: linear-gradient(146deg, #B792FF -20.67%, #622FF1 78.87%);
    backdrop-filter: blur(2vw);
    position: absolute;
    right: 5.05vw;
    bottom: 7.86vw;
}

.footer_to_up svg{
    width: 1.66667vw;
    height: 1.66667vw;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.footer_to_up:hover{
    background: white;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .social_media {
        gap: 3.19vw;
        margin:0;
    }
    .sm_icon{
        width: 10.6383vw;
        height: 10.6383vw;
    }
    .footer_header{
        justify-content: space-between;
        margin-bottom: 15.96vw;
    }
    .sm_icon svg{
        width: 6.38298vw;
        height: 6.38298vw;
        margin: 0;
    }
    .footer_title{
        font-size: 15.95745vw;
        font-style: normal;
        font-weight: 600;
        line-height: 22.34043vw;
        letter-spacing: -0.31915vw;
    }
    .word_container{
        gap: 2.13vw;
        top: -8vw;
    }
    .word_item:nth-of-type(2) {
        top: 9.57vw;
    }
    .word_item{
        display: flex;
        width: 28.98936vw;
        height: 19.14894vw;
        /*padding: 13.82979vw;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.25532vw;
        flex-shrink: 0;

        border-radius: 3.7234vw;
        border: 0.266vw solid rgba(255,255,255,0.00);
        background: rgba(15,14,19,0.20);
        box-shadow:
                -1.064vw -1.064vw 6.383vw 0 rgba(255,255,255,0.04) inset,
                1.064vw 1.064vw 6.383vw 0 rgba(255,255,255,0.10) inset;
        backdrop-filter: blur(0.798vw);




    }
    .word_item div{
        width: 100%;
        height: 100%;
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 500;
        line-height: 4.46809vw;
        letter-spacing: -0.07447vw;
    }
    .lside{
        margin-top: 42.29vw;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 3.19vw;
    }

    .footer_footer{
        flex-direction: column;
        gap: 1.6vw;
        justify-content: center;
        align-items: center;
        margin-top: 21.28vw
    ;
    }
    .footer_footer p, .footer_footer span{
        font-size: 3.19149vw;
        font-style: normal;
        font-weight: 500;
        line-height:  4.75532vw;
    }

    .circle{
        position: absolute;
        z-index: 0;
        width: 100vw;
        height: 140vw;

        bottom: 0;
        top: 0;
        left: 0;
        border-radius: 60vw;
        background: linear-gradient(177deg, #0E0E0F 24.3%, #4D2796 58.58%, #270a3b 94.98%);
        filter: blur(40vw);
    }

    .footer_to_up{
        width: 10.6383vw;
        height: 10.6383vw;
        bottom: 55.85vw;
        right: 0;
    }

    .footer_to_up svg{
        width: 3.54096vw;
        height: 4.69601vw;
        flex-shrink: 0;
        aspect-ratio: 1/1;
    }
}
