.promise_section {
    display: flex;
    width: 99.89583vw;
    flex-direction: row;
    align-items: center;
    margin: 8.33333vw 0;
    gap: 0.51vw;
    position: relative;
}

.promise_container {
    display: flex;
    padding: 0.625vw 0;
    align-items: flex-start;
    gap: 12.08333vw;
}

.promise_section p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 2.70833vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 2.70833vw */
    letter-spacing: -0.05417vw;

    opacity: 0.6;

}

.promise {
    display: flex;
    transform: rotate(5.791deg);
    padding: 1.04vw 1.25vw;
    justify-content: center;
    align-items: center;
    gap: 0.52083vw;
    height: 3.125vw;


    border-radius: 5.20833vw;
    background: linear-gradient(92deg, #9B69FF -21.65%, #622FF1 50.8%);
    backdrop-filter: blur(0.52083vw);

}

.promise span {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.14583vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.60417vw */
    letter-spacing: -0.02292vw;
}

.promise_container {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.promise svg{
    width: 1.02698vw;
    height: 0.97818vw;
}
/* scroller */
.scroller {
    display: flex;
    width: max-content;
    animation: scroll-left 20s linear infinite;
}

/* promise_item */
.promise_item {
    flex: 0 0 auto;
    margin-right: 0.6vw;
    display: flex;
    flex-direction: row;
    gap: 0.6vw;
}

/* Анімація */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.blur {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.blur_item:first-of-type{
    background: linear-gradient(270deg, rgba(9, 9, 10, 0.00) 0%, #09090A 87.33%);
    width: 17.29167vw;
    height: 3.95833vw;
}
.blur_item:last-of-type{
    background: linear-gradient(90deg, rgba(9, 9, 10, 0.00) 0%, #09090A 87.33%);
    width: 17.29167vw;
    height: 3.95833vw;
}


