.service_section{
    width: 100vw;
    border-radius: 3.33333vw;
    background: #0E0E0F;
    margin: 8.33vw 0 9.37vw 0;
    padding: 8.33vw 5.21vw  8.33vw 5.21vw;
    /*gap: 7.92vw;*/
    justify-content: space-between;

    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .service_section{
        flex-direction: column;
        border-radius: 8.51064vw;
        padding: 10.6383vw 4.25532vw;
        overflow: hidden;

    }
}