main {
    position: relative;
    width: 100vw;
    height: auto;
    background-color: #09090A;
    color: #fff;
}

/*main * {*/
/*    transition: all 0.3s;*/
/*}*/

.show {
    display: none !important;
}

.hide {
    display: flex !important;
}

.show_inline {
    display: none !important;

}

.hide_inline {
    display: inline !important;
}

.error-message {
    color: #FB536C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.72917vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.02083vw;
    letter-spacing: -0.01458vw;
}

@media screen and (max-width: 1024px) {

    .hide {
        display: none !important;
    }

    .show {
        display: flex !important;
    }

    .hide_inline {
        display: none !important;
    }

    .show_inline {
        display: inline !important;
    }

    .error-message {
        font-size: 3.7234vw;
        font-style: normal;
        font-weight: 400;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
    }

}

