.faq_item {
    display: flex;
    width: 59.375vw;
    padding: 2.70833vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.45833vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.60417vw; /* 1.vw */
    letter-spacing: -0.02917vw;

    border-radius: 1.66667vw;
    background: #0E0E0F;


}

.faq_item.active {
    border-radius: 1.66667vw;
    border: 0.05208vw solid rgb(127, 127, 127);
    background: linear-gradient(91deg, #B792FF -6.48%, #622FF1 6.94%, #0E0E0F 24.38%);
}

.question {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.45833vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.60417vw;
    letter-spacing: -0.02917vw;
}

.answer {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16667vw; /*  */
    letter-spacing: -0.01667vw;
}

.answer_container {
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden;
    width: 100%;
}

.active .answer_container {
    max-height: 20vw;
    width: 100%;
    margin-top: 1.66667vw;
}

.title_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.83vw;
    width: 100%;
    cursor: pointer;

    transition: all 0.3s;
}

.icon {
    display: flex;
    width: 2.29167vw;
    height: 2.29167vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.52083vw;
    aspect-ratio: 1/1;

    border-radius: 5.20833vw;
    transition: all 0.3s;

    position: relative;
    background: linear-gradient(146deg, #B792FF -20.67%, #622FF1 78.87%);

}

.icon.active_svg {
    background: white;
}

.icon svg {
    width: 0.72917vw;
    height: 0.72917vw;
    transition: all 0.3s;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.icon svg path{
    transition: all 0.3s ease;
}


.disabled_svg path, .active_svg:hover path {
    stroke: white;
    fill: white;
}


.active_svg path, .disabled_svg:hover path {
    stroke: #622FF1;
    fill: #622FF1;
}

.icon.disabled_svg:before, .icon.active_svg:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: white;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5.20833vw;
}

.icon.active_svg:before {
    background: linear-gradient(146deg, #B792FF -20.67%, #622FF1 78.87%);
}

.icon.active_svg:hover:before {
    opacity: 1;
}

.icon.disabled_svg:hover:before {
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .faq_item {
        width: 91.2234vw;
        padding: 5.31915vw;
        border-radius: 5.31915vw;
        gap: 3.19vw;

    }

    .faq_item.active {
        border-radius: 5.31915vw;
        border: 0.05208vw solid rgb(127, 127, 127);
        background: linear-gradient(90deg, #B792FF -4.76%, #622FF1 -2.03%, #0E0E0F 69.63%);
    }

    .title_container p {
        font-size: 4.25532vw;
        line-height: 5.53191vw;
        letter-spacing: -0.08511vw;
    }

    .active_svg, .disabled_svg {
        width: 8.51064vw;
        height: 8.51064vw;
    }

    .active_svg svg, .disabled_svg svg {
        width: 7.44681vw;
        height: 7.44681vw;
        max-width: none;
    }

    .answer {
        font-size: 3.7234vw;
        line-height: 5.21277vw;
        letter-spacing: -0.07447vw;
        padding-right: 12.57vw;
    }

    .title_container {
        gap: 3.196vw;
    }

    .icon svg {
        width: 3.7234vw;
        height: 3.7234vw;
    }
}