.link{
    display: flex;
    height: 2.29167vw;
    padding: 0.41667vw 0.83333vw;
    justify-content: center;
    align-items: center;
    gap: 0.52083vw;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.72917vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.02083vw */
    letter-spacing: -0.01458vw;

    opacity: 0.6;

}

.link_li{
    transition: all 0.1s;
}

.link_li:hover{
    border-radius: 5.20833vw;
    background: #F4EEFF;
}

.link:hover{
    color: #0F0E13;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .link{

        height: auto;
        padding: 2.12766vw 0;
        width: 100%;
        color: #fff;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--font-inter), sans-serif;
        font-size: 5.85106vw;
        font-style: normal;
        font-weight: 500;
        line-height: 7.02128vw;
        letter-spacing: -0.11702vw;
        opacity: 1;
    }
    .link_li{
        width: 100%;
    }

}