.container {
    margin: 0 10.42vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.67vw;
}

.item {
    display: flex;
    padding: 3.125vw 4.16667vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.66667vw;
    align-self: stretch;

    border-radius: 1.66667vw;
    background: #0E0E0F;
}

.item_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.66667vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.83333vw;
    letter-spacing: -0.03333vw;
}

.container.active {
    border-radius: 1.66667vw;
    border: 0.05208vw solid rgb(127, 127, 127);
    background: linear-gradient(91deg, #B792FF -6.48%, #622FF1 6.94%, #0E0E0F 24.38%);
}

.icon {
    display: flex;
    width: 2.29167vw;
    height: 2.29167vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.52083vw;
    aspect-ratio: 1/1;

    border-radius: 5.20833vw;
    transition: all 0.3s;
}

.icon svg {
    width: 0.72917vw;
    height: 0.72917vw;
}

.disabled_svg, .active_svg:hover {
    background: white;
}

.disabled_svg path, .active_svg:hover path {
    stroke: #622FF1;
    fill: #622FF1;
}


.active_svg, .disabled_svg:hover {
    background: linear-gradient(146deg, #B792FF -20.67%, #622FF1 78.87%);
}

.active_svg path, .disabled_svg:hover path {
    stroke: white;
    fill: white;
}

.item_content {
    margin: 0 2.6vw;

    color: rgba(255, 255, 255, 0.80);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-inter), sans-serif;
    font-size: 0.83333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16667vw;
    letter-spacing: -0.01667vw;
}

.item_content strong {
    color: #fff;
    font-weight: 500;
}

.item_content a {
    opacity: 0.8;
    color: #B792FF;
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 0 4.52vw;
        gap: 5.32vw;
    }

    .item {
        padding: 6.38298vw;
        gap: 4.25532vw;
        border-radius: 5.31915vw;
    }

    .item_header {
        font-size: 4.78723vw;
        font-style: normal;
        font-weight: 500;
        line-height: 6.2234vw;
        letter-spacing: -0.09574vw;
    }

    .container.active {
        border-radius: 5.31915vw;
        border: 0.05208vw solid rgb(127, 127, 127);
        background: linear-gradient(91deg, #B792FF -6.48%, #622FF1 6.94%, #0E0E0F 24.38%);
    }

    .active_svg, .disabled_svg {
        width: 8.51064vw;
        height: 8.51064vw;
    }

    .active_svg svg, .disabled_svg svg {
        width: 7.44681vw;
        height: 7.44681vw;
        max-width: none;
    }

    .icon svg {
        width: 3.7234vw;
        height: 3.7234vw;
    }
    .item_content{
        margin: 0;
        font-size: 3.7234vw;
        line-height: 5.21277vw;
        align-self: stretch;
        letter-spacing: -0.07447vw;
    }


}